body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 480px;
}

.surfheading {
    background-color: #c8d3d9;
}


.redtext{
    color: #ff0000;
    font-style: italic;
}
label {
    width: 100%
}

.button-style {
    background-color: #cee3e6;
    font-weight: 700;
    color: #aeaeae;
    border-radius: unset;
    border-width: 1px;
    border-color: #c8d3d9;
    font-family: Calibri;
    font-size: 15px;
}
.tiny-panel {
    margin: 20px auto;
    width: 350px;
}


.wide-panel {
    margin: 20px auto;
    width: 520px;
}

.add-post-area {
    width: 100%;
    max-width: 100%;
}


.surfheading {
    background-color: #c8d3d9;
}

.panel-heading {
    background-color: #c8d3d9 !important;
}

.full-width{
    width: 100%;
}

.validation-summary-errors ul{
    list-style-type: none;
}


.wrap {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}

.nick-photo {
    height: 50px;
    width: 50px;
    border-radius: 19px;
    margin: 7px 10px 0px 0px;
}

.exit-button {
    width: 22px;
    height: 23px;
    margin: 15px 13px 15px 20px;
}

.Row {
    display: table;
    width: auto; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

.Column {
    display: table-cell;
    background-color: white; /*Optional*/
}